<div class="footer__container__wrapper">
  <nav class="navbar footer__Wrapper">
    <div class="container-fluid footer-container" style="margin-left: 19px">
      <a class="navbar-brand" href="#">
        <i class="fa-solid fa-building-columns fa-bounce"></i>
        <!-- <img
                src="/docs/5.3/assets/brand/bootstrap-logo.svg"
                alt="Logo"
                width="30"
                height="24"
                class="d-inline-block align-text-top"
              /> -->
        CANARA NET BANKING
      </a>
    </div>
  </nav>
</div>
