.signup__form__wrapper {
  height: 90vh;
  height: 68vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  background-image: linear-gradient(
    to bottom,
    rgb(37, 113, 212),
    rgb(81, 200, 247)
  );
  border-radius: 24px;
}

.signup__form__container {
  margin-top: 75px;
  height: 61%;
}

@media only screen and (max-width: 500px) {
  .signup__form__wrapper {
    width: 95%;
    height: 63vh;
  }
  .signup__form__container {
    margin-top: 58px;
  }
}
