<app-header></app-header>
<div class="signup__form__container">
  <form id="t1" class="container signup__form__wrapper">
    <h2 class="text-center mb-5">SignUp</h2>
    <div class="mb-4">
      <input
        name="accno"
        type="text"
        class="form-control"
        id="accountnumber"
        aria-describedby="accountnumberHelp"
        placeholder="Enter the  account number"
      />
    </div>
    <div class="mb-4">
      <input
        name="username"
        type="text"
        class="form-control"
        id="username1"
        aria-describedby="usernamehelp"
        placeholder="Enter the user name"
      />
    </div>
    <div class="mb-4">
      <input
        name="pass"
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Enter the password"
      />
    </div>
    <div class="mb-4">
      <input
        name="cpass"
        type="password"
        class="form-control"
        id="exampleInputPassword2"
        placeholder="confirm password"
      />
    </div>

    <button type="submit" class="btn btn-primary">SignUp</button>
  </form>
</div>
<app-footer></app-footer>
