/* You can add global styles to this file, and also import other style files */
body {
  background-image: linear-gradient(
    to top,
    rgb(37, 113, 212),
    rgb(81, 200, 247)
  );
  height: 100vh;
}

#t1 {
  transition: all 0.5s ease-in-out;
}

#t1:hover {
  transform: scale(1.05);
}
